.appBar {
    background-color: rgb(51, 41, 159);
    color: white;
    font-size: 2rem;
    padding: 0.4rem;
    padding-left: 2rem;

}


.sideBar {
    background-color: white;
    width: 10rem;
    margin-right: 1rem;
    padding: 1rem;
    height: calc(100vh - 45px)
}

