
.page {
    min-width:500px;
    width: 80%;
    margin: auto;
    background-color: ghostwhite;
}

.boxLayout {
    background-color: ghostwhite;
}

.navBar {
    display: flex;
    justify-content: space-between;
}

