

.displayAssignmentTable {
    display : grid;
    grid-template-columns: 1fr 1fr;

}

.displayClasses {
    display : grid;
    grid-template-columns: repeat(7, 1fr);
}

.emptyCell {
    background-color: aliceblue;
}


.weekScale{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 20rem;
    text-align: center;
}

.cell {
    padding: 0.4rem;
    border-radius: 0.4rem;
    margin: 0.2rem;
    font-size: 0.8rem;
    color: white;
    max-width: 12rem;
    border: solid silver 2px;
}

.ltNOne {
    background-color: aqua;
    color: black;
}

.nOne {
    background-color: aquamarine;
    color: black;
}

.zero {
    background-color: chartreuse;
    color: black;
}

.pOne {
    background-color: darkorange;
}

.gtPOne {
    background-color:crimson;
}